*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
   background-color: rgba(0, 0, 0, 0.751);
   background-image: url(../img/bg.webp);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: color-burn;
   background-attachment: fixed;

}

.app{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    color: white;

}

img{
    border-radius: 50%;
    border: 2px solid gold;
}

.icon img{
    height: 60px;
    width: 60px;
    border: none;
}

.heading{
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-bottom: 10px;
}

.displayMsg{
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 700px;
    min-height: 550px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.731);
    color: white;
    background-image: url(../img/msgBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 14px white;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.displayMsg::-webkit-scrollbar{
    width: 7px;
    background-color: black;
    color: white;
}

.displayMsg::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, cyan, rgb(97, 97, 206));
    border-radius: 10px;
}

.displayMsg ul{
    width: 100%;
    display: flex;
    flex-flow: column;
}

.post-left{
    align-self: flex-start;
    width: 60%;
    background-color: #2890cd8c;
}
.post-right{
    align-self: flex-end;
    width: 60%;
    background-color: #22adbd94;
}
.post-right .userInfo{
    background-color: #2d2929a3;

}
.post-left .userInfo{
 background-color: #251e1e70;

}
.post-text{
    width: 100%;
    padding: 10px;
    background-color: rgb(235, 234, 234);
    color: black;
    font-size: 19px;
    font-weight: 500;
    border-radius: 6px;
}

.displayMsg ul li{
    list-style: none;
    backdrop-filter: blur(20px);
    margin-bottom: 1rem;
}

ul li .userInfo{
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 5px;
    font-size: 15px;
}

ul li .usermsg{
    display: flex;
    align-items: center;
    padding: 10px;
}

ul li .usermsg span{
    margin-left: 10px;
}

.app #textMsg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textMsg input{
    width: 100%;
  min-height: 50px;
  max-width: 635px;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  border: 2px solid white;

}

#textMsg .btn{
    min-height: 55px;
    min-width: 35px;
    font-size: 1.1rem;
    padding: 10px;
    background-color: #0a9494a3;
    color: white;
}

#textMsg input:is(:hover, :focus){
    box-shadow: 2px 2px 10px rgb(234, 232, 232);
    border: .5px solid white;
    background-color: black;
    color: white;
}

#textMsg .btn:is(:hover, :focus){
    background-color: #0d53a696;
}

#form input{
    min-height: 50px;
    padding: 10px;
    margin: 1rem 0;
    border-radius: 6px;
    outline: none;
    font-size: 17px;
}

#form button{
    min-width: 60px;
    min-height: 50px;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;

}