*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
   background-color: rgba(0, 0, 0, 0.751);
   background-image: url(https://img.freepik.com/free-vector/dialogue-chat-clouds-speech-bubble-icon-from-lines-triangles-particle-style-design-low-poly-technology-devices-people-communication-concept-blue-background_587448-471.jpg?w=1060&t=st=1698512338~exp=1698512938~hmac=f6a31f9e1ba79862caffea5363e78a853916c4edbe4071e677d5243b06dbdd0c);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: color-burn;
   background-attachment: fixed;

}

.app{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 2rem auto;
    color: white;

}

img{
    border-radius: 50%;
    border: 2px solid gold;
}

.heading{
    font-size: 40px;
    padding-bottom: 10px;
}
.displayMsg{
    display: flex;
    width: 100%;
    max-width: 700px;
    min-height: 640px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.731);
    color: white;
    background-image: url(https://img.freepik.com/free-vector/abstract-blue-circle-black-background-technology_1142-10526.jpg?w=1380&t=st=1698410357~exp=1698410957~hmac=d41f4f5b5acde964a837b20af02f9b718e85cc59c124d1f701ae47e6a036b8f1);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 14px white;
    height: 640px;
    overflow-y: auto;
    overflow-x: hidden;
}

.displayMsg::-webkit-scrollbar{
    width: 5px;
    background-color: black;
    color: white;
}
.displayMsg::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, cyan, rgb(97, 97, 206));
    border-radius: 10px;
}

.displayMsg ul{
    width: 100%;
}

.displayMsg ul li{
    list-style: none;
    background-color: rgba(80, 80, 224, 0.678);
    backdrop-filter: blur(20px);
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 1rem;
    clear: both;
}
.displayMsg ul li:nth-child(even){
    float: right;
    background-color: rgba(146, 87, 201, 0.728);
}
ul li .userInfo{
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 5px;
    font-size: 15px;
}

ul li .usermsg{
    display: flex;
    align-items: center;
    padding: 10px;
}

ul li .usermsg span{
    margin-left: 10px;
}

.app #textMsg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#textMsg input{
  min-height: 50px;
  min-width: 635px;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  border: 2px solid white;

}

#textMsg .btn{
    min-height: 55px;
    min-width: 40px;
    font-size: 1.1rem;
    padding: 10px;
    background-color: rgb(108, 108, 108);
    color: white;
}

#textMsg input:is(:hover, :focus){
    box-shadow: 2px 2px 20px rgb(234, 232, 232);
    background-color: black;
    color: white;
}

#textMsg .btn:is(:hover, :focus){
    background-color: green;
}

